<h2> Update this request </h2>

<%if flash[:error_messages]%>
    <%flash[:error_messages].each do |message|%>
        <%=message%><br>
    <%end%><br>    
<%end%>
<br>
<br>
<%= render partial: "financial_requests/form", locals: {financial_request: @request, worker_id: @request.worker_id, status: "updated"} %>
