<h3 id="kudos">Title: <%=kudos.title%><br></h3>
<p><%=kudos.comment%></p>
<p><i>If this comment is offensive, or negative, please <%=link_to "remove it", remove_kudo_path(kudos.id)%></i></p>
<br><br><br>
